/* ==================
      VARIABLES
================== */
:root {
--hunter-green: rgb(76, 89, 88);
--black: #0A0D0C;
--dark-tan: #a6a59c;
--light-tan: #BFBDB4;
--forest-green: rgba(100, 131, 104, .7);
--brown: #735840;
--body-font: 'Montserrat', sans-serif;
--title-font: 'Lora', serif;
}
/* ==================
      GENERAL
================== */
/* *{
  border: 1px solid gold;
} */


body {
	font-family: var(--body-font);
    background-color: white;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
  flex: 1 0 auto;

}

p {
	font-family: var(--body-font);
	color: var(--black);
	font-size: 25px;
}

a {
	color: var(--forest-green);
	cursor: pointer;
}

button {
	background-color: rgba(0,0,0,.7);
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
	cursor: pointer;
}

button: hover {
	font-size: 23px;
}

h2 {
	font-family: var(--title-font);
	color: white;
	text-align: center;
	align-self: center;
	margin: 150px auto;

}

h1 {
 font-family: var(--title-font);
  font-size: 60px;
  color: var(--hunter-green);
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 40px;
	}
}

h1:after {
  content: '';
  width: 100%;
  height: 5px;
  background: var(--hunter-green);
  display: block;
}

h3 {
	font-family: var(--title-font);
    font-size: 30px;
    color: var(--hunter-green);
    text-align: center;
    margin: 0;
}

h3:after {
	content: '';
    width: 100%;
    height: 5px;
    background: var(--hunter-green);
    display: block;
}


/* header {
	z-index: 2;
} */
.shadowEffect {
     box-shadow: 10px 10px 5px grey;

}

footer{
    margin-top: 25px;
    text-align: center;
    background-color: var(--dark-tan);
}

#container{
    margin: 0 auto;
}

::placeholder {
	color: var(--black);
}

/* ==================
      HEADER
================== */
/* #smallHeader{
    z-index: 5;
    height: 80px;
    width: 100%;
    position: fixed;
} */

#headerImage{
    z-index: 0;
    height: 400px;
    width: 100%;
    background-image: url("../images/catskills-700.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
	/* z-index: 2; */
}

#logo{
    height: 100px;
    width: auto;
    margin-top: 20px;
    /* margin-left: 20px; */
}
#userImage{
    position: absolute;
    top: 15px;
    right: 155px;
    height: 75px;
    width: 75px;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 50%;
}

#userWelcome {
	position: absolute;
    top: 15px;
    right: 15px;
}

@media only screen and (max-width: 600px) {
	#userWelcome {
		display:none
	}
	#userImage{
		position: absolute;
	    top: 15px;
	    right: 15px;
	}
}

#logOut{
    /* position: absolute;
    top: 90px;
    right: 0;
    margin-right: 25px;
    border-radius: 4px; */
	background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 90px;
    right: 15px;
    margin-right: 7px;
    margin-top: 12px;
    padding: 8px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    outline: none;
}

#searchForm{
	/* top: 130px;
	right: 15px;
    position: absolute; */
    display: flex;
    justify-content: center;
	align-items: center;
    flex-flow: row nowrap;
    /* margin-top: 100px; */
	/* background-color: var(--forest-green); */
}
#searchBar{
	/* top: 0;
	right: 300px;
	position: absolute; */
    font-size: 30px;
    border-radius: 10px;
    padding: 2px;
	padding-left: 10px;
    color: var(--black);
    margin-bottom: 5px;
    background-color: rgb(255,255,255);
    border: 1px solid black;
}
/*
#searchButton{
	top: 90px;
	right: 105px;
    position: absolute;
    font-size: 30px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 4px;
    background-color: var(--forest-green);
    border-color: white;
    color: white;
} */

#sortButton {
	background-color: rgba(0,0,0,.7);
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
}

#sortButton:hover {
	font-size: 23px;
}

#loginUsername{
    all: unset;
    margin-top: 10px;
    right: 250px;
    top: 0;
    position: absolute;
    margin-right: 4px;
    background-color: white;
    color: white;
    padding: 2px;
}
#loginPassword{
    all: unset;
    margin-right: 8px;
    right: 65px;
    top: 0;
    margin-top: 10px;
    position: absolute;
    background-color: white;
    color: white;
    padding: 2px;
}
#loginSignup{
  position: static;
  right: 200px;
}
#signUp{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7px;
    margin-top: 12px;
    padding: 8px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    outline: none;
}
#modalSignup{
	width:50%;
}
#modalLogin{
  width: 50%;
  background-color: rgb(2, 98, 157);
  margin-right: 15px;
}
#buttons{
	display: flex;
	flex-direction: row;
}
#signUpCancel{
  width: 100%;
  margin: 10px 0;
  background-color: rgb(151, 15, 15);
}
#loginCancel{
  width: 100%;
  margin: 10px 0;
  background-color: rgb(151, 15, 15);
}
#loginButton{
    all: unset;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 100px;
    margin-right: 7px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 600px) {
	#loginButton {
		position: absolute;
		top: 35px;
	    right: 5px;
	}
}

#tinyHomeTileContainer{
    padding: 25px;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
	  z-index: 1;
}


/* #addNewHome {
	background-color: rgba(0,0,0,.7);
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
	cursor: pointer;
}
#addNewHome:hover {
	font-size: 23px
	background-color: rgba(0,0,0, 1)
} */
/* ==================
      STICKY HEADER
================== */
.header {
  padding: 10px 16px;
  background: rgba(100, 131, 104, .8);
  color: #f1f1f1;
  z-index: 5;
}

#header-button {
	all: unset;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 100px;
    margin-right: 7px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.add-home-btn {
	margin-left: 19px;
}
/* ==================
      FORMS
================== */

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}

@media only screen and (max-width: 600px) {
	fieldset {
	margin: 8px 0;
	}
}
legend {
  font-family: var(--body-font);
  font-weight: 500;
  color: var(--hunter-green);
  padding: 0 10px;
}
label {
  font-family: var(--body-font);
  font-weight: 200;
  color: var(--forest-green);
  display: block;
}

#signup-button {
	width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--brown);
}


input:focus {
  outline: 0;
  border: 1px solid var(--hunter-green);
}

input[type="submit"] {
  height: 50px;
  background: var(--hunter-green);
  border: 0px;
  font-family: var(--body-font);
  font-size: 1.3em;
  color: whitesmoke;
  border-radius: 4px;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--forest-green);
  border: 1px solid whitesmoke;
}

textarea {
  resize: none;
  width: 100%;
  height: 100px;
}
.registration {
  width: 60%;
  background: #f9f9f9;
  border-radius: 0 10px 10px 0;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
	.registration {
		width: 100%;
		padding:5px;
	}
}

.registration > h1 {
  font-family: var(--body-font);
  font-weight: 500;
  color: var(--forest-green);
  border-bottom: 2px solid var(--brown);
}

@media only screen and (max-width: 600px) {
	.registration {
		height: 100%;
	}
}

/* CONTAINERS */
.registration-container {
  /* position: absolute; */
  z-index: 99;
  width: 80vw;
  height: 80vh;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #bbb,
              -1px -1px 10px #bbb,
              1px -1px 10px #bbb,
              -1px 1px 10px #bbb;
}

/* @media only screen and (max-width: 600px) {
	.registration-container {
		height: 100%;
		  margin: 0 auto;
		}
} */
.sidebar {
  width: 40%;
  background: url('/images/cozy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}

.sidebar2 {
  width: 40%;
  background: url('/images/tropical.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}

.sidebar3 {
  width: 40%;
  background: url('/images/crooked-house.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}

.sidebar4 {
  width: 40%;
  background: url('/images/construction.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 600px) {
	.sidebar, .sidebar2, .sidebar3, .sidebar4  {
		width: 0%;
	}
}

/* ==================
      CARDS
================== */

.card {
  margin: 20px 10px;
  box-shadow: 10px 10px 5px grey;
}

.card:hover {
  margin: 20px 10px;
  box-shadow: 1px 1px 5px grey;
  background-color: #edebeb;
}



.card-content {
	height: 150px;
}

/* .card-images {
	background-color: rgba(0,0,0,0.82);
} */

.card-title {
    background-color: rgba(0,0,0,0.5);
}



/* ==================
      SHOWPAGE
================== */
.home-container {
	margin: 0 auto;
}
.cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

}
.icon-card {
	margin: 5px;
	padding-top: 21px;
	background-color: var(--hunter-green);
	width: 130px;
	height: 130px;
	text-align: center;
	color: white;
}

.icon {
	width: 50px;
	padding-top: 10px;
}

.icon2 {
	width: 50px;
	padding-top: 12px;
	margin-bottom: 17px;
}

.icon3 {
	width: 50px;
	padding-top: 7px;
	margin-bottom: 10px;
}

.icon4 {
	width: 50px;
	padding-top: 10px;
	margin-bottom: 2px;
}

.tool {
	width: 30px;
	transform: rotate(90deg);
}

h4 {
	color: var(--hunter-green);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.show-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}


/* Animations */

.shadow-pop-br {
  -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
  animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
}

.shadow-pop-br:hover {
-webkit-animation: none;
 animation: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-18 13:48:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-br {
  0% {
    box-shadow: 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    box-shadow: 1px 1px 5px grey, 2px 2px 5px grey, 3px 3px 5px grey, 4px 4px 5px grey, 5px 5px 5px grey, 6px 6px 5px grey, 7px 7px 5px grey, 8px 8px 5px grey;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes shadow-pop-br {
  0% {
    box-shadow: 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey, 0 0 grey;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    box-shadow: 1px 1px 5px grey, 2px 2px 5px grey, 3px 3px 5px grey, 4px 4px 5px grey, 5px 5px 5px grey, 6px 6px grey, 7px 7px 5px grey, 8px 8px 5px grey;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
