/* ==================
      VARIABLES
================== */
:root {
--hunter-green: rgb(76, 89, 88);
--black: #0A0D0C;
--dark-tan: #a6a59c;
--light-tan: #BFBDB4;
--forest-green: rgba(100, 131, 104, .7);
--brown: #735840;
--body-font: 'Montserrat', sans-serif;
--title-font: 'Lora', serif;
}
/* ==================
      GENERAL
================== */
body {
	font-family: var(--body-font);
    background-color: white;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
  flex: 1 0 auto;

}

p {
	font-family: var(--body-font);
	color: var(--black);
	font-size: 25px;
}

a {
	color: var(--forest-green)
	cursor: pointer;
}

button {
	color: var(--forest-green);
	cursor: pointer;
}

h1 {
 font-family: var(--title-font);
  font-size: 60px;
  color: var(--hunter-green);
  text-align: center;
  margin: 0;
}

h1:after {
  content: '';
  width: 100%;
  height: 5px;
  background: var(--hunter-green);
  display: block;
}

header {
	z-index: 2;
}

footer{
    margin-top: 25px;
    text-align: center;
    background-color: var(--dark-tan);
}

#container{
    margin: 0 auto;
}
/* footer{
    display: flex;
    margin-top: 35px;
    height: 150px;
    background-color: var(--dark-tan);
} */

/* ==================
      FORMS
================== */

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}
legend {
  font-family: var(--body-font);
  font-weight: 500;
  color: var(--hunter-green);
  padding: 0 10px;
}
label {
  font-family: var(--body-font);;
  font-weight: 200;
  color: vcolor: var(--forest-green);;
  display: block;
}

#signup-button {
	width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--brown);
}

input:focus {
  outline: 0;
  border: 1px solid var(--hunter-green);
}

input[type="submit"] {
  height: 50px;
  background: var(--hunter-green);
  border: 0px;
  font-family: var(--body-font);
  font-size: 1.3em;
  color: whitesmoke;
  border-radius: 4px;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--forest-green);
  border: 1px solid whitesmoke;
}


.registration {
  width: 50%;
  background: #f9f9f9;
  border-radius: 0 10px 10px 0;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}

.registration > h1 {
  font-family: var(--body-font);
  font-weight: 500;
  color: var(--forest-green);
  border-bottom: 2px solid var(--brown);
}

/* CONTAINERS */
.registration-container {
  z-index: 99;
  width: 80vw;
  height: 800px;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #bbb,
              -1px -1px 10px #bbb,
              1px -1px 10px #bbb,
              -1px 1px 10px #bbb;
}
.sidebar {
  width: 50%;
  background: url('/images/cozy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}

/* ==================
      CARDS
================== */

/* .card {
z-index: -1;
} */

.card-content {
	height: 150px;
}

/* .card-images {
	background-color: rgba(0,0,0,0.82);
} */

.card-title {
	background-color: rgba(0,0,0,0.5);
}


/* ==================
      HEADER
================== */
#header{

    /* z-index: 0; */
    height: 500px;
    width: 100%;
    /* top: 0;
    left:0;
    position: absolute; */
    background-image: url("../images/catskills-700.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
	/* z-index: 2; */
}

#logo{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
}
/* #pageContainer{
    margin-top: 600px;
    display: flex;
    justify-content: space-between;
} */
#searchBar{
    all: unset;
    font-size: 30px;
    border-radius: 10px;
    padding: 2px;
    color: white;
    position: absolute;
    left: 10px;
    bottom: 2px;
    margin-bottom: 5px;
    background-color: rgba(255,255,255,.5);
    border: 1px solid white;
}
#searchButton{
    font-size: 30px;
    border-radius: 4px;
    position: absolute;
    bottom: 2px;
    left: 360px;
    margin-bottom: 10px;
    margin-left: 4px;
    background-color: var(--forest-green);
    border-color: white;
    color: white;
}
#loginUsername{
    all: unset;
    margin-top: 10px;
    right: 250px;
    top: 0;
    position: absolute;
    margin-right: 4px;
    background-color: white;
    color: white;
    padding: 2px;
}
#loginPassword{
    all: unset;
    margin-right: 8px;
    right: 65px;
    top: 0;
    margin-top: 10px;
    position: absolute;
    background-color: white;
    color: white;
    padding: 2px;
}
#signUp{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7px;
    margin-top: 12px;
    padding: 8px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    outline: none;
}

#loginButton{
    all: unset;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 100px;
    margin-right: 7px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
}

/* #contactForm{
    margin: 0 auto;
} */

#tinyHomeTileContainer{
    padding: 5px;
    margin: 50px auto;
    /* display: flex; */
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
	z-index: 1;
}

/* ==================
      SHOWPAGE
================== */
.home-container {
	width: 90%;
	margin: 0 auto;
}
.cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

}
.icon-card {
	margin: 5px;
	padding-top: 21px;
	background-color: var(--hunter-green);
	width: 130px;
	height: 130px;
	text-align: center;
	color: white;
}

.icon {
	width: 50px;
	padding-top: 10px;
}

.icon2 {
	width: 50px;
	padding-top: 12px;
	margin-bottom: 17px;
}

.icon3 {
	width: 50px;
	padding-top: 7px;
	margin-bottom: 10px;
}

.icon4 {
	width: 50px;
	padding-top: 10px;
	margin-bottom: 2px;
}

.tool {
	width: 30px;
	transform: rotate(90deg);
}

h4 {
	color: var(--hunter-green);
}

/* h2 */
