*{
    border: 1px solid gold;
}

#header{
    height: 100px;
    width: 100%;
    top: 0;
    left:0;
    position: absolute;
    background-color: blue;
}

#logo{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

#welcomeMessage{
    margin-left: 15px;
    font-size: 40px;
}