<div class="row">
    <div ng-repeat="home in ctrl.homes" class="col s12 m6 l4 xl4">
      <div class="card">
        <div class="card-image">
          <img src="{{ home.image }}">
          <span class="card-title">{{home.price | currency}}</span>
        </div>
        <div class="card-content">
          <p>{{home.name}}</p>
        </div>
        <div class="card-action light-green-text text-darken-4">
			<a ng-click="ctrl.getID(home._id); ctrl.changeInclude('show')">View More Details</a>
        </div>
      </div>
    </div>
  </div>
