<div class="row">
    <div ng-show="ctrl">
        <button class="waves-effect waves-light btn blue-grey darken-1"
        ng-click="ctrl.changeInclude('new')">Add a New Tiny Home</button>
    </div>
    <div ng-repeat="home in ctrl.homes" class="col s12 m6 l4 xl3">
      <div class="card shadowEffect">
        <div class="card-image">
          <img src="{{ home.image }}">
          <span class="card-title">{{home.price | currency}}</span>
        </div>
        <div class="card-content">
          <p>{{home.name}}</p>
        </div>
        <div class="card-action light-green-text text-darken-4">
			<a class="light-green-text text-darken-4" ng-click="ctrl.getID(home._id); ctrl.changeInclude('show')">View More Details</a>
        </div>
      </div>
    </div>
  </div>
