<div clas="row">
  <div class="image-text col s8">
    <img src="{{ ctrl.home.image }}">
    <div class="text">
      <h3>{{ ctrl.home.name }}</h3>
      <h5>{{ ctrl.home.type }}</h5>
      <h5>{{ ctrl.home.builder }}</h5>
      <p>{{ ctrl.home.description }}</p>
    </div>
  </div>
  <div class="features-buybtn col s4">
    <div class="features">
      {{ ctrl.home.mobile }}
      {{ ctrl.home.price }}
      {{ ctrl.home.sqft }}
      {{ ctrl.home.beds }}
      {{ ctrl.home.baths }}
      {{ ctrl.home.lofts }}
    </div>
  </div>
</div>
