<div clas="row">
  <div class="image-text col s8">
    <img src="{{ ctrl.house.image }}">
    <div class="text">
      <h3>{{ ctrl.house.name }}</h3>
      <h5>{{ ctrl.house.type }}</h5>
      <h5>{{ ctrl.house.builder }}</h5>
      <p>{{ ctrl.house.description }}</p>
    </div>
  </div>
  <div class="features-buybtn col s4">
    <div class="features">
      {{ ctrl.house.mobile }}
      {{ ctrl.house.price }}
      {{ ctrl.house.sqft }}
      {{ ctrl.house.beds }}
      {{ ctrl.house.baths }}
      {{ ctrl.house.lofts }}
    </div>
  </div>
</div>
