<!--<footer>
	<div id="contactForm">
		<form id="contactUs">
			<text > If you would like us to build your next project, lets talk..</text>
			<input type="text" id="email" placeholder="Email">
			<input type="submit" id="contactUsSubmit" value="Contact Us">
		</form>
	</div>
</footer>-->

<div class="container">
	<h5> Development Team </h5>
  <div class="row">
	<div class="col l12 s12">
	  <div class="col l4"><a target="_blank" href="https://www.linkedin.com/in/dbarkerit">Derek Barker</a>
		</div>
		<div class="col l4"><a target="_blank" href="https://www.linkedin.com/in/danielle-walraven"> Danielle Walraven </a>
		</div>
		<div class="col l4"><a target="_blank" href="https://www.linkedin.com/in/jiha-hwang/"> Jiha Hwang </a>
		</div>
	</div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2019 Copyright
  </div>
</div>
