<!--<footer>
	<div id="contactForm">
		<form id="contactUs">
			<text > If you would like us to build your next project, lets talk..</text>
			<input type="text" id="email" placeholder="Email">
			<input type="submit" id="contactUsSubmit" value="Contact Us">
		</form>
	</div>
</footer>-->

<div class="container">
	<h5> Development Team </h5>
  <div class="row">
	<div class="col l12 s12">
	  <div class="col l4">
		<ul>
				<li>Derek Barker</li>
				<li><a target="_blank" href="#">Website</a></li>
				<li><a target="_blank" href="mailto:DBarkerIT@gmail.com?subject=MyTinyHomes Feedback">Email</a></li>
				<li><a target="_blank" href="https://www.linkedin.com/in/dbarkerit">LinkedIn</a></li>
				<li><a target="_blank" href="https://github.com/hiaximize">GitHub</a></li>
			</ul>
		</div>
		<div class="col l4">
			<ul>
				<li>Danielle Walraven</li>
				<li><a target="_blank" href="https://www.linkedin.com/in/danielle-walraven">Website</a></li>
				<li><a target="_blank" href="mailto:dwalraven21@gmail.com?subject=MyTinyHomes Feedback">Email</a></li>
				<li><a target="_blank" href="https://www.linkedin.com/in/danielle-walraven">LinkedIn</a></li>
				<li><a target="_blank" href="https://github.com/dwalraven21">GitHub</a></li>
			</ul>
		</div>
		<div class="col l4"><a target="_blank" href="https://www.linkedin.com/in/jiha-hwang/"> Jiha Hwang </a>
		</div>
	</div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2019 Copyright
  </div>
</div>
