<!-- ============= CONTAINER ============== -->
    <div class="registration-container">
      <!-- sidebar -->
      <div class="sidebar"></div>
      <!-- registration container -->
      <div class="registration">
        <!-- START FORM -->
        <form ng-submit="ctrl.addHome(); ctrl.returnHome()">
          <!-- fieldset for account info -->
          <fieldset class="account-info">
            <!-- legend for account info -->
            <legend>ADD NEW HOME</legend>
			<!-- home name -->
			<label for="home-name">HOME NAME</label>
			<input id="home-name" type="text" ng-model="ctrl.name"/>
			<!-- home type -->
			<label for="type">TYPE</label>
			<input id="type" type="text" ng-model="ctrl.type">
			<!-- hidden input for user email -->
			<input type="hidden" ng-model="ctrl.builder" value="ctrl.currentUser.email">
			<!-- home description -->
			<label for="sd">SHORT DESCRIPTION</label>
			<textarea id="sd" ng-model="ctrl.description"></textarea>
			<!-- home price -->
			<label for="price">PRICE</label>
			<input id="price" type="text" ng-model="ctrl.price">
			<!-- image url -->
			<label for="imageURL">IMAGE URL</label>
			<input id="imageURL" type="text" ng-model="ctrl.image">
			<!-- mobile: yes or no? -->
			<label for="mobile">IS IT MOBILE?
	        <input id="mobile" type="checkbox" ng-model="ctrl.mobile"><span></span></label><br><br>
			<!-- number of sqare feet -->
			<label for="sqft">SQUARE FOOTAGE</label>
	        <input id="sqft" type="text" ng-model="ctrl.sqft">
			<!-- number of beds -->
			<label for="beds"># OF BEDROOMS</label>
	        <input id="beds" type="text" ng-model="ctrl.beds">
			<!-- number of beds -->
			<label for="baths"># OF BATHROOMS</label>
	        <input id="baths" type="text" ng-model="ctrl.baths">
			<label for="lofts"># OF LOFTS</label>
	        <input id="lofts" type="text" ng-model="ctrl.lofts">
          </fieldset>
          <!-- submit button -->
          <input type="submit" id="signup-button" value="Add a New Tiny Home">
        </form>
        <form ng-submit="ctrl.returnHome();">
          <input type="submit" id="signUpCancel" value="cancel">
        </form>
      </div>
    </div>
  </body>
</html>
