<div id=container>
  <div class="image-text">
    <img src="{{ ctrl.homes.image }}">
    <div class="text">
      <h3>{{ ctrl.homes.name }}</h3>
      <button class="waves-effect waves-light btn-large light-green darken-4"><a href="mailto:{{ctrl.homes.builder}}?subject=Tiny Home Blueprints">Contact Builder For Blueprints</a></button>
      <h4>{{ ctrl.homes.price | currency}}</h4>
      <p>{{ ctrl.homes.description }}</p>
    </div>
  </div>
  <div class="cards">
    <div class="icon-card">
      <img class="icon" src="../icons/house.png"><br>
      <h9>{{ ctrl.homes.type }}</h9>
    </div>
    <div class="icon-card">
      <img class="icon" src="../icons/wheel.png"><br>
      <h9 ng-if="ctrl.homes.mobile">Mobile</h9>
      <h9 ng-if="!ctrl.homes.mobile">Not Mobile</h9>
    </div>
    <div class="icon-card">
      <img class="tool" src="../icons/tool.png"><br>
      <h9>{{ ctrl.homes.sqft }} sq.ft.</h9>
    </div>
    <div class="icon-card">
      <img class="icon2" src="../icons/bedroom.png"><br>
      <h9>{{ ctrl.homes.beds }} bedroom</h9>
    </div>
    <div class="icon-card">
      <img class="icon3" src="../icons/bathroom.png"><br>
      <h9>{{ ctrl.homes.baths }} bathroom</h9>
    </div>
    <div class="icon-card">
      <img class="icon" src="../icons/furniture.png"><br>
      <h9>{{ ctrl.homes.lofts }} lofts</h9>
    </div>
  </div><br />
  <form>
	<button
		class="waves-effect waves-light btn light-green darken-4"
		ng-if="$index !== ctrl.indexOfEditFormToShow"
		ng-click="ctrl.indexOfEditFormToShow = $index">
		Edit
	</button>
</form>
<div
ng-if="$index === ctrl.indexOfEditFormToShow"
ng-submit="ctrl.editHome(ctrl.homes._id); ctrl.changeInclude('cards')">
	<form class="" action="index.html" method="post">
			<input type="text" ng-model="ctrl.updatedName" ng-value="ctrl.homes.name"><br>
			<input type="text" ng-model="ctrl.updatedType" ng-value="ctrl.homes.type"><br>
			<input type="text"
				ng-model="ctrl.updatedDescription"
				ng-value="ctrl.homes.description"><br>
			<input type="text"
				ng-model="ctrl.updatedPrice"
				ng-value="ctrl.homes.price"><br>
			<input type="text"
				ng-model="ctrl.updatedImage"
				ng-value="ctrl.homes.image"><br>
			Mobile: <input type="checkbox"
					ng-model="ctrl.updatedMobile"
					ng-value="ctrl.homes.mobile"><br>
			<input type="text"
				ng-model="ctrl.updatedSqft"
				ng-value="homes.sqft"><br>
			<input type="text"
				ng-model="ctrl.updatedBeds"
				ng-value="homes.beds"><br>
			<input type="text"
				ng-model="ctrl.updatedBaths"
				ng-value="homes.baths"><br>
			<input type="text"
				ng-model="ctrl.updatedLofts"
				ng-value="homes.lofts"><br>
				<div class="row">
					<input class="waves-effect waves-light btn light-green darken-4" type="submit" value="Update">
				</div>
		</form>
		<div class="col">
			<button class="waves-effect waves-light btn light-green darken-4" ng-click="ctrl.cancelEdit()">Cancel</button>
		</div>
		</div>
		<div class="row">
			<div class="col">
				<button
				class="waves-effect waves-light btn red darken-4"
				ng-click="ctrl.deleteHome(ctrl.homes._id); ctrl.changeInclude('cards')">
				DELETE
				</button>
			</div>
			<div class="col">
				<button class="waves-effect waves-light btn light-green darken-4" ng-click="ctrl.changeInclude('cards')">Back</button>
			</div>
		</div>
</div>
