<!-- ============= CONTAINER ============== -->
    <div class="registration-container">
      <!-- sidebar -->
      <div class="sidebar"></div>
      <!-- registration container -->
      <div class="registration">
        <h1>Sign Up</h1>
        <!-- START FORM -->
        <form action="/users" method="POST">
          <!-- fieldset for account info -->
          <fieldset class="account-info">
            <!-- legend for account info -->
            <legend>ACCOUNT INFORMATION</legend>
			<!-- first name -->
			<label for="firstName">FIRST NAME</label>
			<input type="text" id="first-name"/>
			<!-- last name -->
			<label for="lastName">LAST NAME</label>
			<input type="text" id="last-name"/>
			  <!-- username -->
              <label for="username">USERNAME</label>
              <input type="text" id="username"/>
              <!-- password -->
              <label for="password">PASSWORD</label>
              <input type="password" id="password">
              <!-- email -->
              <label for="email">E-MAIL</label>
              <input type="email" id="email"/>
			  <!-- profile image -->
              <label for="profileImage">PROFILE IMAGE URL</label>
              <input type="text" id="profile-image"/>
          </fieldset>
          <!-- submit button -->
          <input type="submit" id="signup-button" value="submit the form">
        </form>
      </div>
    </div>
  </body>
</html>
