<!-- ============= CONTAINER ============== -->
    <div class="registration-container">
      <!-- sidebar -->
      <div class="sidebar"></div>
      <!-- registration container -->
      <div class="registration">
        <h1>SIGN UP</h1>
        <!-- START FORM -->
        <form ng-submit="ctrl.createUser(); ctrl.goApp(); ctrl.changeHeaderPath('auth-view')">
          <!-- fieldset for account info -->
          <fieldset class="account-info">
            <!-- legend for account info -->
            <legend>ACCOUNT INFORMATION</legend>
			<!-- first name -->
			<label for="firstName">FIRST NAME</label>
			<input type="text" id="first-name" ng-model="ctrl.firstName"/>
			<!-- last name -->
			<label for="lastName">LAST NAME</label>
			<input type="text" id="last-name" ng-model="ctrl.lastName"/>
			  <!-- username -->
              <label for="username">USERNAME</label>
              <input type="text" id="username" ng-model="ctrl.username"/>
              <!-- password -->
              <label for="password">PASSWORD</label>
              <input type="password" id="password" ng-model="ctrl.password">
              <!-- email -->
              <label for="email">E-MAIL</label>
              <input type="email" id="email" ng-model="ctrl.email"/>
			  <!-- profile image -->
              <label for="profileImage">PROFILE IMAGE URL</label>
              <input type="text" id="profile-image" ng-model="ctrl.profileImage"/>
          </fieldset>
          <!-- submit button -->
          <input type="submit" id="signup-button" value="submit the form">
        </form>
        <form ng-submit="ctrl.returnHome()">
          <input type="submit" id="signUpCancel" value="cancel">
        </form>
      </div>
    </div>
  </body>
</html>
