 <div clas="row">
    <div class="image-text col s8">
      <img src="{{ ctrl.homes.image }}">
      <div class="text">
        <h3>{{ ctrl.homes.name }}</h3>
        <h5>{{ ctrl.homes.type }}</h5>
        <h5>{{ ctrl.homes.builder }}</h5>
        <p>{{ ctrl.homes.description }}</p>
      </div>
    </div>
    <div class="features-buybtn col s4">
      <div class="features">
        {{ ctrl.homes.mobile }}
        {{ ctrl.homes.price }}
        {{ ctrl.homes.sqft }}
        {{ ctrl.homes.beds }}
        {{ ctrl.homes.baths }}
        {{ ctrl.homes.lofts }}
      </div>
    </div>
  </div>
 
